/*.lanote img {
	height: 50px;
	margin-top: 200px;
} */


	/*background-color: #FCDFDB;
	height: 650px;*/
	
	/*margin-left: 80px;
	margin-right: 80px; */


/*.row p {
	font-size: 30px;
	color: #61393E;
}*/

h2.droit {
	text-align: center;
	margin-top: 180px;
	font-family: Apple chancery; 
}




 
