body {
	/*text-align: center;*/
}



/*footer.basdepage {
	display: flex;
	background-color: #1B5E20; 
	color: #FFC107; 
	padding: 5px;
	/*margin-top: 10px;
	justify-content: space-between;
}*/

/*h1 {
	background-color: #1B5E20;
	color: #FFC107;
}*/



/*.menu img{
	height: 25px;	
}*/



/*.pointdorgue {
	font-size: 15px;
} 

.prelude {
	font-size: 15px;
}*/






/*span.tarif{
	padding-left: 100px;
}

table {
	margin-left: 250px;
}*/


