





f/*ooter.basdepage {
	display: flex;
	background-color: #1B5E20; 
	color: #FFC107; 
	padding: 5px;
	margin-top: 10px;
	justify-content: space-between;
} */

/*h1 {
	background-color: #1B5E20;
	color: #FFC107;
}  */

/*h2 {
	margin-top: 40px;
	margin-bottom: 40px;
	color: rgb(127, 168, 243);
}*/

/*span.gras {
	font-weight: bold;
} 

span.tarif {
font-weight: bold;

}

a {
	text-decoration: none;
	color: #FFC107;
	background-color: #1B5E20;
	border: #1B5E20;
	font-size: 15px;
} 
*/







