




	/*height: 600px;*/
	/*margin-left: 80px;
	margin-right: 80px;	*/


/*footer.basdepage {
	display: flex;
	background-color: #1B5E20; 
	color: #FFC107; 
	padding: 5px;
	margin-top: 10px;
	justify-content: space-between;
} */



/*h1 {
	background-color: #1B5E20;
	color: #FFC107;
}*/

.hautchic {
	/*margin-top: 50px;
	margin-bottom: 50px;*/
	color: rgb(214, 151, 123); 
} 



/*span.gras {
	font-weight: bold;   	
}  

span.tarif {
font-weight: bold;

}*/

/*a {
	text-decoration: none;
	color: #FFC107;
	background-color: #1B5E20;
	border: #1B5E20;
	font-size: 15px;
} */






