a {
	text-decoration: none;
	color: #CFBE5B;
	border: #1B5E20;
	font-size: 15px;
} 

a.chic {
	background-color: #fef5ff;
	font-family: 'Croissant One', cursive;
	color: rgb(214, 151, 123) ;	 
} 

a.délice {
	background-color: #EEF0EF;
	font-family: 'Dancing Script', cursive; 
	color: rgb(127,168, 243) ;
}

a.note {
	background-color: #FCDFDB;
   	font-family: 'Ma Shan Zheng', cursive;
	color: #61393E;	
}

a.palette {
	background-color: #FDFFFD;
	font-family: 'Kaushan Script', cursive;  
	color: #94cf7f;	
} 

a.carre {
	flex: 1 0 auto;
	/*transition: transform 0.5s;
	opacity: 0.5;
	transition: opacity 3s;*/
	font-size: 20px;
	width: 200px; 
    margin: 20px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
} 

/*a.carre:hover {
	transform: scale(1.1);
	opacity: 1;
}*/

.appetitchic {
	color: #e3b78e;
} 

body {
	background-color: #D9D9D9;
	margin: 0px;
}

body,html {
	max-width: 100%;
	overflow-x: hidden;
}

.contenuchic section {
    font-family: 'Merriweather', serif;
 }

.contenudelice section {
   font-family: 'Shadows Into Light', cursive; 
}

.contenunote section {
	font-family: 'Handlee', cursive;	
}

.contenupalette {
	background-color: #fdfffd;	
} 

.contenupalette section { 
  font-family: 'Handlee', cursive;
}

.délice a {
    color: rgb(127,168, 243);
} 

div.echange {
	margin: 10px;
} 

div.fondelice {
	background-color: #EEF0EF;
}

div.fondpalette {
	background-color: #FDFFFD;
}

div.fondchic {
 	background-color: #fef5ff; 
 }

div.fondnote {
	background-color: #FCDFDB;
} 

div.menu {
	padding-bottom: 50px;
}

div.prochainement {
	display: flex;
	border-radius: 10px;
	background-color: #579C87;
	color: #CFBE5B;
	padding: 10px 60px;
	margin: auto;
	width: 130px;
	font-family: 'Noto Sans', sans-serif; 
}

div.quatrecare {
	display: flex;
	flex-flow: row wrap;	
}

div.echange:hover {
	animation: shake 0.3s;
	animation-iteration-count: infinite;
}

@keyframes shake {
	0%  { transform: translate(1px, 1px) ;}
	10% { transform: translate(-1px, -2px) ;}
	20% { transform: translate(-3px, 0px) ;}
  	30% { transform: translate(3px, 2px) ;}
  	40% { transform: translate(1px, -1px) ;}
  	50% { transform: translate(-1px, 2px) ;}
  	60% { transform: translate(-3px, 1px) ; }
  	70% { transform: translate(3px, 1px) ;}
  	80% { transform: translate(-1px, -1px) ;}
  	90% { transform: translate(1px, 2px) ;}
  	100% { transform: translate(1px, -2px) ;}
} 

footer.basdepage {
	background-color: #579C87; 
	color: #FFC107; 
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	padding-bottom: 10px; 
	position: fixed;	
	bottom: 0 ;
	right: 0;
	left: 0;
	text-align: center;
	font-family: 'Noto Sans', sans-serif; 
}

.gourmandiseschic {
	color: #a188df;
	margin-top: 30px;
}

h2 {
	text-align: center;
	font-family: 'Ma Shan Zheng', cursive;
}

h2.droit {
	text-align: center;
	margin-top: 180px;
	font-family: Apple chancery; 
} 

h3 img {
	margin-right: 10px;
	height: 30px;
	font-family: 'Ma Shan Zheng', cursive;
} 

h3 {
	margin-bottom: 38px;
}

h4 {
	font-size: 15px; 
	margin-top: 30px;
	margin: auto;
}

h4.img {
	margin: auto;
	text-align: center;
}

/*h4.hr:hover {
	text-decoration: underline; 
}*/

h4.hr span {
   position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        margin:auto;
        text-align:center;  
        /*width:100%;
        height:200px;*/
}

h4.hr span {
        display: inline;
        position: relative;
        /*color: #E46161;*/
        text-decoration: none;   
}

h4.hr span:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 2px;
    width: 0%;
    left: 0px;
    height: 2px;
    transition: 0.25s cubic-bezier(0.72,-0.01, 0.19, 0.92);
    background: black;
}

h4.hr span:hover:after {
        width: 100%;
}


.hr {
	align-items: center;
	display: flex;
	text-align: center;
}

.hr::before,
.hr::after {
	/*border-top: 0.3em solid;*/
	flex: 1;
	content:"";
	margin: 0.5em;
}

.hauteur {
	min-height: 130vh; 
}

.hautchic {
	background: -webkit-gradient(linear, left top, right top, from(#D8852E),to(#905BFD));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: 'Croissant One', cursive;		
} 

.hautdelice {
    font-family: 'Dancing Script', cursive;
    background: -webkit-gradient(linear, left top, right top, from(#3864E6),to(#94C8F4));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; 
} 

.hautpalette {
	font-family: 'Kaushan Script', cursive;
	background: -webkit-gradient(linear, left top, left bottom, from(#69B852),to(#B7F97C));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
} 

header.entete {
	background-color: #579C87;
	color: #FDCB46;
	text-align: center;
	padding: 10px;
	font-family: 'Noto Sans', sans-serif;
}

.iconebas {
	text-align: center;
	font-family: 'Ma Shan Zheng', cursive;
} 

img {
    height: 40px;
}

p {
	text-align: center;
}

p.degradechic {
	background: -webkit-gradient(linear, left top, right top, from(#D8852E),to(#905BFD));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: transform 0.5s;
	opacity: 0.5;
	transition: opacity 0.5s;	
} 

p.degradechic:hover {
	transform: scale(1.1);
	opacity: 0.3;
}

p.degradepalette {
	background: -webkit-gradient(linear, left top, right top, from(#69B852),to(#B7F97C));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: transform 0.5s;
	opacity: 0.5;
	transition: opacity 0.5s;	
} 

p.degradepalette:hover {
	transform: scale(1.1);
	opacity: 0.3;
} 

p.degradelice {
	background: -webkit-gradient(linear, left top, right top, from(#3864E6),to(#94C8F4));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; 
	transition: transform 0.5s;
	opacity: 0.5;
	transition: opacity 0.5s;
}

p.degradelice:hover {
	transform: scale(1.1);
	opacity: 0.3;
}

p.degradenote {
	transition: transform 0.5s;
	opacity: 0.5;
	transition: opacity 0.5s;
}

p.degradenote:hover {
	transform: scale(1.1);
	opacity: 0.3;
}

.palette a {
    color: #94cf7f;
} 

.plaisirchic {
	color: #ac73a2;
}

.pointsuspension {
	display: inline-block;
	font-size: 1em;
	margin: 0 auto;
	animation: center-animate 2s ease infinite normal;
	overflow: hidden;

}
@keyframes center-animate {
	0% {width: 0}
	100% { width: 1em }
}

span.gras.tarif {
	font-weight: bold;   	
} 

table{
	margin: 0 auto; 
	width: 400px;
}

td.tarif{
	text-align: right;
	font-weight: bold;
} 

.wrapper {
	max-width: 700px;
	margin: auto;
	background-color: white;
	padding-bottom: 100px;
} 

@media screen and (min-width: 200px) and (max-width: 500px) {
  table {
	margin: 0 auto; 
	width: 100%;
  }
}































