a {
	text-decoration: none;
	color: #FFC107;
	background-color: #1B5E20; 
	border: #1B5E20;
	font-size: 15px;
} 

a.chic {
	background-color: #fef5ff;
	font-family: Noteworty light;
	color: rgb(214, 151, 123);
} 

a.délice {
	background-color: #F9F9F9;
	font-family: Freestyle Script;
	color: rgb(127,168, 243);
}

a.note {
	background-color: #FCDFDB;
	font-family: Apple chancery;
	color: #61393E;		
}

a.palette {
	background-color: #FDFFFD;
	font-family: Monotype Corsiva;
	color: #94cf7f;	
} 

a.carre {
	flex: 1 0 auto;
	display: block;
	transition: transform 0.5s;
	opacity: 0.5;
	transition: opacity 3s;
	font-size: 20px;
	width: 50px; 
    margin: 20px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
} 

a.carre:hover {
	transform: scale(1.2);
	opacity: 1;
}

.appetitchic {
	color: #e3b78e;
} 

.chic a {
	color: rgb(214, 151, 123);
}

.contenuchic {
	background-color: #fef5ff;
	font-family: Noteworty light;
 }

 .contenudelice {
	background-color: #F9F9F9;
	font-family: Freestyle Script; 
} 

.contenunote {
	font-family: Apple chancery;
	background-color: #FCDFDB;
}

.contenupalette {
	background-color: #fdfffd;
	font-family: Monotype Corsiva;
} 

.délice a {
    color: rgb(127,168, 243);
} 

div.menu {
	padding-bottom: 50px;
}

div.prochainement {
	display: flex;
	border-radius: 10px;
	background-color: #1B5E20;
	color: #FFC107;
	padding: 10px 60px;
	margin: auto;
	width: 100px;
}

div.echange:hover {
	animation: shake 0.3s;
	animation-iteration-count: infinite;
}

@keyframes shake {
	0%  { transform: translate (1px, 1px)  }
	10% { transform: translate (-1px, -2px) }
	20% { transform: translate(-3px, 0px) }
  	30% { transform: translate(3px, 2px) }
  	40% { transform: translate(1px, -1px)  }
  	50% { transform: translate(-1px, 2px)  }
  	60% { transform: translate(-3px, 1px)  }
  	70% { transform: translate(3px, 1px) }
  	80% { transform: translate(-1px, -1px) }
  	90% { transform: translate(1px, 2px)  }
  	100% { transform: translate(1px, -2px)  }
} 

footer.basdepage {
	background-color: #1B5E20; 
	color: #FFC107; 
	margin-top: 10px; 
	display: flex;
	justify-content: space-between;
	padding: 10px; 
	position: fixed;	
	bottom: 0 ;
	right: 0;
	left: 0;
	text-align: center;
}

.gourmandiseschic {
	color: #a188df;
	margin-top: 30px;
}

h2 {
	text-align: center;
}

h2.droit {
	text-align: center;
	margin-top: 180px;
	font-family: Apple chancery; 
} 

h3 img {
	margin-right: 10px;
	height: 30px;	
} 

h3 {
	margin-bottom: 38px;
}

h4 {
	font-size: 15px; 
	margin-top: 30px;
}

h4.hr:hover {
	text-decoration: underline; 	
}

.hr {
	align-items: center;
	display: flex;
	text-align: center;
}

.hr::before,
.hr::after {
	border-top: 0.3em solid;
	flex: 1;
	content:"";
	margin: 0.5em;
}

.hauteur {
	height: 100vh; 
}

.hautchic {
	color: rgb(214, 151, 123); 
} 

.hautdelice {
    color: rgb(127, 168, 243); 
} 

.hautpalette {
	color: #94cf7f;
} 

header.entete {
	background-color: #1B5E20;
	color: #FFC107;
	text-align: center;
}

.iconebas {
	text-align: center;
} 

img {
    height: 40px;
}

p {
	text-align: center;
}

.palette a {
    color: #94cf7f;
} 

.plaisirchic {
	color: #ac73a2;
}

.pointsuspension {
	display: inline-block;
	font-size: 1em;
	margin: 0 auto;
	animation: center-animate 2s ease infinite normal;
	overflow: hidden;

}
@keyframes center-animate {
	0% {width: 0}
	100% { width: 1em }
}

div.quatrecare {
	display: flex;	
}

span.gras.tarif {
	font-weight: bold;   	
} 

table{
	margin: 0 auto; 
	width: 400px;
}

td.tarif{
	text-align: right;
	font-weight: bold;
} 

.wrapper {
	max-width: 700px;
	margin: auto;
} 





























